In [1]:
# Se importan las librerías necesarias

import pandas as pd
import numpy as np
import ast
import seaborn as sns
import matplotlib.pyplot as plt
import json
from pandas import json_normalize
import nltk

In [2]:
# Se crea una funcion para cargar archivos JSON
def load_json_lines(file_path):

    data = []
    with open(file_path, 'r', encoding='utf-8') as file:
        for line in file:
            data.append(ast.literal_eval(line))
    return pd.DataFrame(data)

In [3]:
# Se cargan el archivo JSON de las reviews y se muestra

df_reviews = load_json_lines(r'C:\Users\Renato\Desktop\MLOPS_KRAMER\PI MLOps - STEAM\australian_user_reviews.json')

df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [4]:
# Da una informacion sobre el DataFrame creado
print(df_reviews.info)

# Verificación de datos nulos
print(df_reviews.isnull())

# Información estadística de las columnas en el DataFrame
print(df_reviews.describe())

<bound method DataFrame.info of                  user_id                                           user_url  \
0      76561197970982479  http://steamcommunity.com/profiles/76561197970...
1                js41637               http://steamcommunity.com/id/js41637
2              evcentric             http://steamcommunity.com/id/evcentric
3                  doctr                 http://steamcommunity.com/id/doctr
4              maplemage             http://steamcommunity.com/id/maplemage
...                  ...                                                ...
25794  76561198306599751  http://steamcommunity.com/profiles/76561198306...
25795           Ghoustik              http://steamcommunity.com/id/Ghoustik
25796  76561198310819422  http://steamcommunity.com/profiles/76561198310...
25797  76561198312638244  http://steamcommunity.com/profiles/76561198312...
25798        LydiaMorley           http://steamcommunity.com/id/LydiaMorley

                                                 reviews
0      [{'funny': '', 'posted': 'Posted November 5, 2...
1      [{'funny': '', 'posted': 'Posted June 24, 2014...
2      [{'funny': '', 'posted': 'Posted February 3.',...
3      [{'funny': '', 'posted': 'Posted October 14, 2...
4      [{'funny': '3 people found this review funny',...
...                                                  ...
25794  [{'funny': '', 'posted': 'Posted May 31.', 'la...
25795  [{'funny': '', 'posted': 'Posted June 17.', 'l...
25796  [{'funny': '1 person found this review funny',...
25797  [{'funny': '', 'posted': 'Posted July 21.', 'l...
25798  [{'funny': '1 person found this review funny',...

[25799 rows x 3 columns]>
       user_id  user_url  reviews
0        False     False    False
1        False     False    False
2        False     False    False
3        False     False    False
4        False     False    False
...        ...       ...      ...
25794    False     False    False
25795    False     False    False
25796    False     False    False
25797    False     False    False
25798    False     False    False

[25799 rows x 3 columns]
                  user_id                                           user_url  \
count               25799                                              25799
unique              25485                                              25485
top     76561198027488037  http://steamcommunity.com/profiles/76561198027...
freq                    3                                                  3

       reviews
count    25799
unique   25459
top         []
freq        28

In [5]:
#Funcion para eliminar reviews duplicadas del DataFrame
def eliminar_duplicados(df_reviews):

    #Normaliza los valores de las columnas "reviews"
    normalized_reviews = json_normalize(df_reviews['reviews'])

    # Añade la columna "user_id" al DataFrame "normalized_reviews"
    normalized_reviews = pd.concat([df_reviews['user_id'], normalized_reviews], axis=1)

    # Elimina los duplicados del DataFrame "normalized_reviews" basado en "user_id"
    user_reviews = normalized_reviews[~normalized_reviews.duplicated(subset='user_id')]

    # Devuelve el DataFrame creado
    return user_reviews

# Se utiliza la función y devuelve el resultado en un nuevo DataFrame
user_reviews = eliminar_duplicados(df_reviews)

# Se muestra el DataFrame
user_reviews

,user_id,0,1,2,3,4,5,6,7,8,9
0,76561197970982479,"{'funny': '', 'posted': 'Posted November 5, 20...","{'funny': '', 'posted': 'Posted July 15, 2011....","{'funny': '', 'posted': 'Posted April 21, 2011...",None,None,None,None,None,None,None
1,js41637,"{'funny': '', 'posted': 'Posted June 24, 2014....","{'funny': '', 'posted': 'Posted September 8, 2...","{'funny': '', 'posted': 'Posted November 29, 2...",None,None,None,None,None,None,None
2,evcentric,"{'funny': '', 'posted': 'Posted February 3.', ...","{'funny': '', 'posted': 'Posted December 4, 20...","{'funny': '', 'posted': 'Posted November 3, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...",None,None,None,None
3,doctr,"{'funny': '', 'posted': 'Posted October 14, 20...","{'funny': '', 'posted': 'Posted July 28, 2012....","{'funny': '', 'posted': 'Posted June 2, 2012.'...","{'funny': '', 'posted': 'Posted June 29, 2014....","{'funny': '', 'posted': 'Posted November 22, 2...","{'funny': '', 'posted': 'Posted February 23, 2...",None,None,None,None
4,maplemage,"{'funny': '3 people found this review funny', ...","{'funny': '1 person found this review funny', ...","{'funny': '2 people found this review funny', ...","{'funny': '', 'posted': 'Posted July 11, 2013....",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
25794,76561198306599751,"{'funny': '', 'posted': 'Posted May 31.', 'las...",None,None,None,None,None,None,None,None,None
25795,Ghoustik,"{'funny': '', 'posted': 'Posted June 17.', 'la...",None,None,None,None,None,None,None,None,None
25796,76561198310819422,"{'funny': '1 person found this review funny', ...",None,None,None,None,None,None,None,None,None
25797,76561198312638244,"{'funny': '', 'posted': 'Posted July 21.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 8.', 'las...",None,None,None,None,None,None
25798,LydiaMorley,"{'funny': '1 person found this review funny', ...","{'funny': '', 'posted': 'Posted July 20.', 'la...","{'funny': '', 'posted': 'Posted July 2.', 'las...",None,None,None,None,None,None,None

In [6]:
# Verificar datos nulos
user_reviews.info()

# Porcentaje de datos nulos
porcentaje_nulos = (user_reviews.isnull().mean() * 100).round(2)
porcentaje_nulos

<class 'pandas.core.frame.DataFrame'>
Index: 25485 entries, 0 to 25798
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  25485 non-null  object
 1   0        25457 non-null  object
 2   1        11929 non-null  object
 3   2        7300 non-null   object
 4   3        4771 non-null   object
 5   4        3272 non-null   object
 6   5        2292 non-null   object
 7   6        1556 non-null   object
 8   7        1005 non-null   object
 9   8        586 non-null    object
 10  9        262 non-null    object
dtypes: object(11)
memory usage: 2.3+ MB

user_id     0.00
0           0.11
1          53.19
2          71.36
3          81.28
4          87.16
5          91.01
6          93.89
7          96.06
8          97.70
9          98.97
dtype: float64

In [7]:
# Se utiliza pd.melt para transformar las columnas en filas conservando el 'user_id''
user_reviews = pd.melt(user_reviews, id_vars=['user_id'], value_vars=user_reviews.columns[2:11], value_name='reviews')

user_reviews

,user_id,variable,reviews
0,76561197970982479,1,"{'funny': '', 'posted': 'Posted July 15, 2011...."
1,js41637,1,"{'funny': '', 'posted': 'Posted September 8, 2..."
2,evcentric,1,"{'funny': '', 'posted': 'Posted December 4, 20..."
3,doctr,1,"{'funny': '', 'posted': 'Posted July 28, 2012...."
4,maplemage,1,"{'funny': '1 person found this review funny', ..."
...,...,...,...
229360,76561198306599751,9,None
229361,Ghoustik,9,None
229362,76561198310819422,9,None
229363,76561198312638244,9,None
229364,LydiaMorley,9,None

In [8]:
# Se eliminan las filas con valor None
user_reviews = user_reviews.dropna()

# Muestra el DataFrame
user_reviews

,user_id,variable,reviews
0,76561197970982479,1,"{'funny': '', 'posted': 'Posted July 15, 2011...."
1,js41637,1,"{'funny': '', 'posted': 'Posted September 8, 2..."
2,evcentric,1,"{'funny': '', 'posted': 'Posted December 4, 20..."
3,doctr,1,"{'funny': '', 'posted': 'Posted July 28, 2012...."
4,maplemage,1,"{'funny': '1 person found this review funny', ..."
...,...,...,...
228160,BonnieMTD,9,"{'funny': '', 'posted': 'Posted June 7, 2015.'..."
228279,amillionlemons,9,"{'funny': '', 'posted': 'Posted March 16, 2015..."
228777,keepit1hunid,9,"{'funny': '', 'posted': 'Posted March 29, 2014..."
229093,SKELETRONPRIMEISOP,9,"{'funny': '', 'posted': 'Posted August 9, 2014..."
229095,76561198141079508,9,"{'funny': '', 'posted': 'Posted July 15, 2014...."

In [9]:
# Se normaliza la columna "reviews"
df_user_reviews = user_reviews['reviews'].apply(pd.Series, dtype='object')

# Muestra el DataFrame
df_user_reviews

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
1,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
2,,"Posted December 4, 2015.","Last edited December 5, 2015.",370360,No ratings yet,True,"""Run for fun? What the hell kind of fun is that?"""
3,,"Posted July 28, 2012.",,20920,1 of 1 people (100%) found this review helpful,True,"Really Really Really Great Game, very good sto..."
4,1 person found this review funny,"Posted December 23, 2013.",,211820,12 of 16 people (75%) found this review helpful,True,"It's like Terraria, you play for 9 hours strai..."
...,...,...,...,...,...,...,...
228160,,"Posted June 7, 2015.",,400,No ratings yet,True,This is the best stratigy/puzzle game out ther...
228279,,"Posted March 16, 2015.",,313120,No ratings yet,True,Not a bad game for alpha. I think with future ...
228777,,"Posted March 29, 2014.",Last edited April 12.,17410,No ratings yet,True,Pretty great graphics and gameplay is no diffe...
229093,,"Posted August 9, 2014.","Last edited October 3, 2014.",304930,No ratings yet,True,This game is so much fun but so challenging it...
229095,,"Posted July 15, 2014.",,4000,No ratings yet,True,Definetly recommend it's a great laugh 10/10 w...

In [10]:
# Se concatena la columna "user_id"
df_user_reviews = pd.concat([user_reviews[['user_id']], df_user_reviews], axis=1)

# Muestra el DataFrame
df_user_reviews

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
1,js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
2,evcentric,,"Posted December 4, 2015.","Last edited December 5, 2015.",370360,No ratings yet,True,"""Run for fun? What the hell kind of fun is that?"""
3,doctr,,"Posted July 28, 2012.",,20920,1 of 1 people (100%) found this review helpful,True,"Really Really Really Great Game, very good sto..."
4,maplemage,1 person found this review funny,"Posted December 23, 2013.",,211820,12 of 16 people (75%) found this review helpful,True,"It's like Terraria, you play for 9 hours strai..."
...,...,...,...,...,...,...,...,...
228160,BonnieMTD,,"Posted June 7, 2015.",,400,No ratings yet,True,This is the best stratigy/puzzle game out ther...
228279,amillionlemons,,"Posted March 16, 2015.",,313120,No ratings yet,True,Not a bad game for alpha. I think with future ...
228777,keepit1hunid,,"Posted March 29, 2014.",Last edited April 12.,17410,No ratings yet,True,Pretty great graphics and gameplay is no diffe...
229093,SKELETRONPRIMEISOP,,"Posted August 9, 2014.","Last edited October 3, 2014.",304930,No ratings yet,True,This game is so much fun but so challenging it...
229095,76561198141079508,,"Posted July 15, 2014.",,4000,No ratings yet,True,Definetly recommend it's a great laugh 10/10 w...

In [11]:
# Reemplazo los espacios por None
df_user_reviews.replace('', None, inplace=True)

# Muestra el DataFrame
df_user_reviews

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,None,"Posted July 15, 2011.",None,22200,No ratings yet,True,It's unique and worth a playthrough.
1,js41637,None,"Posted September 8, 2013.",None,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
2,evcentric,None,"Posted December 4, 2015.","Last edited December 5, 2015.",370360,No ratings yet,True,"""Run for fun? What the hell kind of fun is that?"""
3,doctr,None,"Posted July 28, 2012.",None,20920,1 of 1 people (100%) found this review helpful,True,"Really Really Really Great Game, very good sto..."
4,maplemage,1 person found this review funny,"Posted December 23, 2013.",None,211820,12 of 16 people (75%) found this review helpful,True,"It's like Terraria, you play for 9 hours strai..."
...,...,...,...,...,...,...,...,...
228160,BonnieMTD,None,"Posted June 7, 2015.",None,400,No ratings yet,True,This is the best stratigy/puzzle game out ther...
228279,amillionlemons,None,"Posted March 16, 2015.",None,313120,No ratings yet,True,Not a bad game for alpha. I think with future ...
228777,keepit1hunid,None,"Posted March 29, 2014.",Last edited April 12.,17410,No ratings yet,True,Pretty great graphics and gameplay is no diffe...
229093,SKELETRONPRIMEISOP,None,"Posted August 9, 2014.","Last edited October 3, 2014.",304930,No ratings yet,True,This game is so much fun but so challenging it...
229095,76561198141079508,None,"Posted July 15, 2014.",None,4000,No ratings yet,True,Definetly recommend it's a great laugh 10/10 w...

In [12]:
#Chequeo de no nulos
print(df_user_reviews.info())

# Chequeo de nulos
print('\n', df_user_reviews.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 32973 entries, 0 to 229095
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      32973 non-null  object
 1   funny        3864 non-null   object
 2   posted       32973 non-null  object
 3   last_edited  4043 non-null   object
 4   item_id      32973 non-null  object
 5   helpful      32973 non-null  object
 6   recommend    32973 non-null  bool
 7   review       32955 non-null  object
dtypes: bool(1), object(7)
memory usage: 2.0+ MB
None

 user_id            0
funny          29109
posted             0
last_edited    28930
item_id            0
helpful            0
recommend          0
review            18
dtype: int64

In [13]:
# Se eliminan las columnas "funny" y "last_edited" puesto que en su mayoria se encuentran datos nulos y poco utiles
df_user_reviews = df_user_reviews.drop(columns=['funny', 'last_edited'])

# Muestra el DataFrame
df_user_reviews

,user_id,posted,item_id,helpful,recommend,review
0,76561197970982479,"Posted July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.
1,js41637,"Posted September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
2,evcentric,"Posted December 4, 2015.",370360,No ratings yet,True,"""Run for fun? What the hell kind of fun is that?"""
3,doctr,"Posted July 28, 2012.",20920,1 of 1 people (100%) found this review helpful,True,"Really Really Really Great Game, very good sto..."
4,maplemage,"Posted December 23, 2013.",211820,12 of 16 people (75%) found this review helpful,True,"It's like Terraria, you play for 9 hours strai..."
...,...,...,...,...,...,...
228160,BonnieMTD,"Posted June 7, 2015.",400,No ratings yet,True,This is the best stratigy/puzzle game out ther...
228279,amillionlemons,"Posted March 16, 2015.",313120,No ratings yet,True,Not a bad game for alpha. I think with future ...
228777,keepit1hunid,"Posted March 29, 2014.",17410,No ratings yet,True,Pretty great graphics and gameplay is no diffe...
229093,SKELETRONPRIMEISOP,"Posted August 9, 2014.",304930,No ratings yet,True,This game is so much fun but so challenging it...
229095,76561198141079508,"Posted July 15, 2014.",4000,No ratings yet,True,Definetly recommend it's a great laugh 10/10 w...

In [14]:
# Transformar los tipos de datos

# "item_id" a entero
df_user_reviews['item_id']=df_user_reviews['item_id'].astype(int)

# "recommend" a booleano
df_user_reviews['recommend']=df_user_reviews['recommend'].astype(bool)

# Mostrar DataFrame
df_user_reviews

,user_id,posted,item_id,helpful,recommend,review
0,76561197970982479,"Posted July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.
1,js41637,"Posted September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
2,evcentric,"Posted December 4, 2015.",370360,No ratings yet,True,"""Run for fun? What the hell kind of fun is that?"""
3,doctr,"Posted July 28, 2012.",20920,1 of 1 people (100%) found this review helpful,True,"Really Really Really Great Game, very good sto..."
4,maplemage,"Posted December 23, 2013.",211820,12 of 16 people (75%) found this review helpful,True,"It's like Terraria, you play for 9 hours strai..."
...,...,...,...,...,...,...
228160,BonnieMTD,"Posted June 7, 2015.",400,No ratings yet,True,This is the best stratigy/puzzle game out ther...
228279,amillionlemons,"Posted March 16, 2015.",313120,No ratings yet,True,Not a bad game for alpha. I think with future ...
228777,keepit1hunid,"Posted March 29, 2014.",17410,No ratings yet,True,Pretty great graphics and gameplay is no diffe...
229093,SKELETRONPRIMEISOP,"Posted August 9, 2014.",304930,No ratings yet,True,This game is so much fun but so challenging it...
229095,76561198141079508,"Posted July 15, 2014.",4000,No ratings yet,True,Definetly recommend it's a great laugh 10/10 w...

# *Feature Engineering*

Se incluirá la columna "sentiment_analysis" la cual aplicará análisis de sentimiento con NLP.Este toma el valor "0" si la reseña es negativa, "1" si la reseña es neutral y "2" si la reseña es positiva.De no poder realizarse este análisis, tomará el valor "1". Esta nueva columna reemplazará a la de "review" para facilitar el trabajo de los modelos de ML y análisis de datos.

In [15]:
# Transformo todas las letras de la columna "review" a minuscula
df_user_reviews['review'] = df_user_reviews['review'].str.lower()

In [16]:
# Importo la libreria "re"
import re

# Se buscan y eliminan los caracteres especiales haciendo uso de la libreria re
df_user_reviews['review'] = df_user_reviews['review'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', str(x)) if pd.notnull(x) else '')

In [17]:
from nltk.corpus import stopwords

# Se descarga la lista de stopwords
nltk.download('stopwords')

# Crea un conjunto que contiene las stopwords en inglés
stop_words = set(stopwords.words('english'))

# Elimino las stopwords
df_user_reviews['review'] = df_user_reviews['review'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]) if pd.notnull(x) else '')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Renato\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
from nltk.stem import WordNetLemmatizer, PorterStemmer

# Se descargan datos necesarios para lematización desde WordNet
nltk.download('wordnet')

# Crea un objeto WordNetLemmatizer para lematizar palabras
lemmatizer = WordNetLemmatizer()

# Lematizo cada elemento de la columna "review"
df_user_reviews['review'] = df_user_reviews['review'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in x.split()]) if pd.notnull(x) else '')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Renato\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [19]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Descarga el léxico necesario
nltk.download('vader_lexicon')

# Crea un objeto SentimentIntensityAnalyzer de NLTK que se utilizará para realizar el análisis de sentimientos
sia = SentimentIntensityAnalyzer()

# Aplica el analisis de sentimiento a cada elemento de "review"
df_user_reviews['sentiment_analysis'] = df_user_reviews['review'].apply(lambda x: sia.polarity_scores(x)['compound'] if pd.notnull(x) else None)

# Asignar etiquetas de sentimiento (0 para negativo, 1 para neutral, 2 para positivo)
df_user_reviews['sentiment_label'] = pd.cut(df_user_reviews['sentiment_analysis'], bins=[-1, -0.1, 0.1, 1], labels=[0, 1, 2])

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Renato\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [20]:
# Elimino la columna "review" ya que queda sin uso
df_user_reviews = df_user_reviews.drop('review', axis=1)

# Muestro el DF final
df_user_reviews

,user_id,posted,item_id,helpful,recommend,sentiment_analysis,sentiment_label
0,76561197970982479,"Posted July 15, 2011.",22200,No ratings yet,True,0.2263,2
1,js41637,"Posted September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,0.9550,2
2,evcentric,"Posted December 4, 2015.",370360,No ratings yet,True,0.6597,2
3,doctr,"Posted July 28, 2012.",20920,1 of 1 people (100%) found this review helpful,True,0.9866,2
4,maplemage,"Posted December 23, 2013.",211820,12 of 16 people (75%) found this review helpful,True,0.6597,2
...,...,...,...,...,...,...,...
228160,BonnieMTD,"Posted June 7, 2015.",400,No ratings yet,True,0.8519,2
228279,amillionlemons,"Posted March 16, 2015.",313120,No ratings yet,True,0.5267,2
228777,keepit1hunid,"Posted March 29, 2014.",17410,No ratings yet,True,0.8074,2
229093,SKELETRONPRIMEISOP,"Posted August 9, 2014.",304930,No ratings yet,True,0.9459,2
229095,76561198141079508,"Posted July 15, 2014.",4000,No ratings yet,True,0.9246,2

In [21]:
# Exporto el DataFrame en formato CSV, JSON y Parquet

df_user_reviews.to_csv('df_user_reviews.csv', index=False)

df_user_reviews.to_json('df_user_reviews.json', orient='records', lines=True)

df_user_reviews.to_parquet('df_user_reviews.parquet', index=False)